<div class="container">
  <h1>Ninja Gold</h1>
  <div class="money">
     <p>Your Gold:</p>
     <p class="money_box">{{ gold }}</p>
  </div>
  <div class="place">
     <h3>Farm</h3>
     <h5>(earn 10-20 gold pieces)</h5>
      <input type="submit" value="Find Gold!" class="submit" (click)="farm()">
  </div>
  <div class="place">
     <h3>Cave</h3>
     <h5>(earn 5-10 gold pieces)</h5>
        <input type="submit" value="Find Gold!" class="submit" (click)="cave()">
  </div>
  <div class="place">
     <h3>House</h3>
     <h5>(earn 2-5 gold pieces)</h5>
        <input type="submit" value="Find Gold!" class="submit" (click)="house()">
  </div>
  <div class="place">
     <h3>Casino</h3>
     <h5>(earn or lose 0-50 gold pieces)</h5>
        <input type="submit" value="Find Gold!" class="submit" (click)="casino()">
  </div>
  <div class="activities">
     <h4>Activities:</h4>
     <div class="information">
        <p *ngFor="let activity of activity_log" class="{{ activity.color }}">{{ activity.log }}</p>
     </div>
        <input type="submit" value="Reset" class="reset" (click)="reset()" >
  </div>
</div>